@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

$font: 'Roboto', sans-serif;

body {
  font-family: $font;
  margin: 0;
  padding: 0;
}

.navbar-collapse {

  input.form-control {
    margin-right: .5rem;
    width: auto;
  }
}

.post {

  .card-img-top {
    border-radius: 0;
  }
}
