@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Knewave);

$transition: all .3s ease;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

  a {
    color: #17a2b8;
  }

  a:hover {
    text-decoration: none;
  }
}

.username {
  text-transform: capitalize;

  .navbar-right & {
    vertical-align: text-top;
  }
}

.text-warning svg {
  background-color: #000000;
  border-radius: 100%;
}

.text-poop {
  color: #854646
}

header {

  a.navbar-brand {
    font-family: 'Knewave', sans-serif;
    font-size: 2rem;
    text-rendering: geometricPrecision;
  }

  @media only screen and (max-width: 575px) {

    .navbar-right,
    .navbar-brand {
      width: 100%;
      text-align: center;
    }
  }
}

.main {

  .card-group {
    background: #ffffff;
    margin-top: -.9rem;
    width: 96%;
    z-index: 1000;
  }

  .media {
    width: 33%;

    > a {
      display: inline;
    }

    img {
      width: 100%;
    }
  }

  .ql-editor {
    height: auto;
    min-height: 100px;

    &.ql-blank::before {
      font: 300 1.5rem 'Roboto', sans-serif;
      color: #999999;
    }
  }

  iframe {
    height: auto;
    min-height: 300px;
    width: 100%;
  }

  .post {
    position: relative;

    .lead p {
      margin-bottom: 0;
    }

    .card-img-top {
      border-radius: 0;
    }

    .add-reaction {
      bottom: -1rem;
    }

    .react {
        margin-top: 1.5rem;
        right: 1rem;
        z-index: 1000;

        input[type="button"] {
          cursor: pointer;
          margin-right: 5px;
          opacity: 0;
          position: absolute;
          width: 0;
        }

        span {
          margin-right: 5px;
        }

      .reaction {
        margin-right: 2px;
      }
    }

    .close svg {
      margin: -2.5rem .5rem 0 0
    }
  }
}

svg {

  .sidebar &,
  .react & {
    cursor: pointer;
  }
}

.error-handler {
  text-align: center;
  transition: $transition;

  .post & {
    bottom: .7rem;
    left: 31%;
    position: absolute;
    right: 31%;
  }
}

.invisible {
  opacity: 0;
  transition: $transition;
}
