@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

$font: 'Roboto', sans-serif;

body {
  font-family: $font;
  margin: 0;
  padding: 0;

  a:hover {
    text-decoration: none;
  }
}

.username {
  text-transform: capitalize;
}

.text-warning {
  background-color: #0c36a8;
  border-radius: 100%;
}

.text-poop {
  color: #854646
}

.main {

  .media {
    width: 49%;

    &:nth-child(odd) {
      margin-right: .5rem;
    }

    img {
      width: 100px;
    }
  }

  .post {

    .card-img-top {
      border-radius: 0;
    }

    .add-reaction {
      bottom: -1rem;
    }

    .react {
      margin-top: 2.2rem;
      right: 1rem;
    }

    .reaction {
      margin-right: 2px;
    }
  }

  .close svg {
    margin: -2.5rem .5rem 0 0
  }
}
