@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

.navbar-collapse input.form-control {
  margin-right: .5rem;
  width: auto; }

.post .card-img-top {
  border-radius: 0; }
