@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }
  body a:hover {
    text-decoration: none; }

.username {
  text-transform: capitalize; }

.text-warning {
  background-color: #0c36a8;
  border-radius: 100%; }

.text-poop {
  color: #854646; }

.main .image-wrapper {
  max-height: 150px;
  overflow: hidden; }
  .main .image-wrapper img {
    position: relative;
    bottom: 1rem;
    transform: scale(1.2); }

@media screen and (min-width: 960px) {
  .main .card-group .card {
    width: 33%;
    flex: auto; } }

.main .post .card-img-top {
  border-radius: 0; }

.main .post .add-reaction {
  bottom: -1rem; }

.main .post .react {
  margin-top: 2.2rem;
  right: 1rem; }

.main .post .reaction {
  margin-right: 2px; }

.main .close svg {
  margin: -2.5rem .5rem 0 0; }
