@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }
  body a:hover {
    text-decoration: none; }

.navbar-collapse input.form-control {
  margin-right: .5rem;
  width: auto; }

.username {
  text-transform: capitalize; }

.post .card-img-top {
  border-radius: 0; }

.post .add-reaction {
  bottom: -1rem; }

.post .react {
  margin-top: 2.2rem;
  right: 1rem; }

.post .reaction {
  margin-right: 2px; }

.text-warning {
  background-color: #0c36a8;
  border-radius: 100%; }

.text-poop {
  color: #854646; }

.main .close svg {
  margin: -2.5rem .5rem 0 0; }

@media screen and (max-width: 414px) {
  .sidebar .profile-stats {
    display: none !important; } }
